* {
  margin: 0;
  padding: 0;
}

#parentPuzzle {
  width: 100vw;
  /* height: 100vh; */
  /* position: absolute;
  overflow: hidden; */
  /* background-color: grey; */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

header {
  position: absolute;
  z-index: 88;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
}

nav {
  width: 75vw;
  background-color: rgba(253, 6, 6, 0.8);
  border-bottom: 1px solid black;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav > ul li {
  height: 50%;
  padding: 5px;
  background-color: rgba(245, 238, 238, 0.8);
  border-radius: 10px;
}

#sousListe {
  display: none;
}

li:hover > #sousListe {
  position: absolute;
  display: flex;
}
